.debug-border {
	border: 1px solid #dee2e6 !important;
}

input.form-control::placeholder{
	color: #aaa;
}

.rounded {
	border-radius: 5px;
}

.centered {
	display: block;
	margin: auto;
}

.relative {
	position: relative;
}


.fa-2 {
	font-size: 2em !important;
}
.fa-3 {
	font-size: 4em !important;
}
.fa-4 {
	font-size: 7em !important;
}
.fa-5 {
	font-size: 12em !important;
}
.fa-6 {
	font-size: 20em !important;
}


span.link {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

span.link:hover {
	text-decoration: none;
}

.active-icon:hover{
	cursor: pointer;
}

.active-icon:active {
	transform: scale(0.95);
}

#deviceGestures {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 100500;
}