worker_processes 1;
user root;

events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        listen [::]:80;
        server_name .{{ hostname }};

        # LetsEncrypt ACME Challenge
        location ~ /.well-known/acme-challenge {
          allow all;
          root /var/www/certbot;
        }
    }
}
